
/* Fonts */

#heroText {
  font-family: var(--font-noto-sans);
}

#scrollButton {
  font-family: var(--font-oswald);
}

#intro h2 {
  font-family: var(--font-roboto);
}

#intro {
  font-family: var(--font-anek-devanagari);
}

#intro #cioch {
  font-family: var(--font-noto-sans);
}

#perfectFit h2 {
  font-family: var(--font-roboto);
}

#perfectFit {
  font-family: var(--font-anek-devanagari);
}

#recommendations h2 {
  font-family: var(--font-roboto);
}
#recommendations {
  font-family: var(--font-anek-devanagari);
}


/* Animation styles */



.fade-in {
  animation: fade-in 3s ease-in-out;
}
.fade-in-slow {
  animation: fade-in 5s ease-in-out;
}
.fade-in-slower {
  animation: fade-in 6s ease-in-out;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}